<%- include("../partials/breadcrumb") %>

<div class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form class="contact_form" action="/contact" method="POST">
                    <div class="contact_form_heading">Send Us a Message</div>
                    <div class="contact_form_input">
                        <input type="text" required placeholder="Full Name" name="name" value="<%= name %>">
                    </div>
                    <div class="contact_form_input">
                        <input type="email" required placeholder="E-mail" name="email" value="<%= email %>">
                    </div>
                    <div class="contact_form_input">
                        <input type="tel" required placeholder="Phone" name="phone" value="<%= phone %>">
                    </div>
                    <textarea id="" cols="30" rows="10" class="contact_form_text" placeholder="Your Message"
                        value="<%= message %>" name="message"></textarea>
                    <button type="submit" class="contact_form_send">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>