<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW, NOIMAGEINDEX, NOARCHIVE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pillow Mart | Admin</title>
    <link rel="icon" href="/logos.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pannel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="grey lighten-3">
    <!-- Loader -->
    <div class="loader">
        <div class="loadingio-spinner-dual-ball-j1hxphvfxrf">
            <div class="ldio-oati6kaww7o">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- NAVBAR -->
    <nav class="nav-extended  z-depth-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center logo">
                <svg width="67" height="53" viewBox="0 0 67 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.5215 15.6719L26.1436 31.0967L34.0977 15.6719H39.8105L36.1045 37H31.7979L32.8525 30.9209L34.9326 21.4287L26.7588 37H23.8145L20.958 20.8867L19.5811 31.3896L18.5996 37H14.3076L18.0137 15.6719H23.5215Z"
                        fill="#e0f7fa " />
                    <circle cx=" 26.5" cy="26.5" r="24" stroke="#e0f7fa " stroke-width="5" />
                </svg>

            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
                <svg viewBox="0 0 100 80" width="20" height="20" fill="#e0f7fa">
                    <rect width="100" height="10" rx="8"></rect>
                    <rect y="30" width="100" height="10" rx="8"></rect>
                    <rect y="60" width="100" height="10" rx="8"></rect>
                </svg>
            </a>
            <ul class="right navStyle hide-on-small-only">
                <li><a href="/cf5480873fae9cf6c5c9/pages">Pages</a></li>
                <li><a href="/cf5480873fae9cf6c5c9/Products">Products</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent df">
                <li class="tab fg"><a href="#test1" class="active">Pay</a></li>
                <li class="tab fg"><a href="#test2">Contact</a></li>
                <li class="tab fg"><a href="#test3">Chart</a></li>
            </ul>
        </div>
    </nav>

    <!-- Errors -->
    <% if (typeof errors != "undefined") { %>
    <% errors.forEach(error => { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }) %>
    <% } %>

    <% if (success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <% if (error_msg != "") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <% if (error != "") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <!-- Sidebar -->
    <ul class="sidenav show-on-large " id="mobile-demo">
        <li>
            <div class="center">
                <h5 class="grey-text text-lighten-5 bold cardo">ADMIN PANNEL</h5>
            </div>
        </li>
        <li>
            <div class="line"></div>
        </li>
        <li>
            <div class="center">
                <a href="/cf5480873fae9cf6c5c9/users" class="cyan-text text-lighten-5">
                    <h5>User</h5>
                </a>
                <a href="/cf5480873fae9cf6c5c9/items" class="cyan-text text-lighten-5">
                    <h5>All Items</h5>
                </a>
                <a href="/cf5480873fae9cf6c5c9/pages" class="dn show-on-small cyan-text text-lighten-5">
                    <h5>Pages</h5>
                </a>
                <a href="/cf5480873fae9cf6c5c9/Products" class="dn cyan-text text-lighten-5">
                    <h5>Products</h5>
                </a>
            </div>
        </li>
        <li>
            <div class="line"></div>
        </li>
        <li>
            <div class="center">
                <form action="/accounts/logout?_method=DELETE" method="post">
                    <button class="btn_4 cp" type="submit">
                        <h5 class="cyan-text text-lighten-5">LOGOUT</h5>
                    </button>
                </form>

            </div>
        </li>
    </ul>


    <!--* Sections -->
    <!-- First Section -->
    <div id="test1" class="col s12 m6 mt-5">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1 hoverable">
                        <div class="card-content white-text">
                            <span class="card-title">Money Available</span>
                            <h1>$<%= balance.available[0].amount %></h1>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1 hoverable">
                        <div class="card-content white-text">
                            <span class="card-title">Money Pending</span>
                            <h1>$<%= balance.pending[0].amount %></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <% if(token.length !== 0){ %>
            <% token.forEach((element, i) => { %>
            <% const firstLetter = element.user.name.charAt(0) %>
            <div class="card-panel hoverable mt-6 p-5">
                <div class="container">
                    <div class="personDesc centering">
                        <span class="imgName "><%= firstLetter %></span>
                        <span class="name"><%= element.user.name %></span>
                        <span class="right marginBoth  email"><a href="mailto:<%= element.user.email %>"
                                class=""><%= element.user.email %> </a></span>
                    </div>
                    <div class="itemsBought mt-5">
                        <div class="row">
                            <div class="col m8 centering">
                                <div class="name">
                                    Pending Items:
                                </div>

                                <% element.product.forEach(element => { %>
                                <div class="items mt-2">
                                    <img src="<%= element.id.img_url %>" alt="">
                                    <div class="productName">
                                        <%= element.id.title %>
                                        <div class="qty">Qty: <%= element.qty %> </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                            <div class="col m3 offset-m1 centering marginTop">
                                <div class="name">
                                    Shipping:
                                </div>
                                <div class="productDetail mt-2">
                                    <a class="waves-effect waves-light cyan darken-3 btn modal-trigger"
                                        href="#<%= element._id %>">Send Email</a>

                                    <div id="<%= element._id %>" class="modal">
                                        <div class="modal-content">
                                            <h4>Send Email</h4>
                                            <p>Do you want to procceed?</p>
                                            <%= element._id %>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#"
                                                class="modal-close waves-effect waves-green btn-flat">Disagree</a>
                                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <% const {street, city, zip} = tokenDetail[i] || {}%>
                                        <div class="address mt-1">
                                            <div class="heading">Street:</div>
                                            <div class="desc"><%= street %></div>
                                        </div>
                                        <div class="address mt-1">
                                            <div class="heading">State:</div>
                                            <div class="desc"><%= city %></div>
                                        </div>
                                        <div class="address mt-1">
                                            <div class="heading">ZIP:</div>
                                            <div class="desc"><%= zip  %></div>
                                        </div>
                                        <div class="address mt-2">
                                            <div class="heading">Paid:</div>
                                            <div class="desc">
                                                <div class="switch">

                                                    <label>
                                                        No
                                                        <% if (element.paid) { %>
                                                        <input type="checkbox" checked>
                                                        <% }else{ %>
                                                        <input type="checkbox" class="checkBoxSwitch"
                                                            data-checkboxid="<%= element._id %>">
                                                        <% } %>
                                                        <span class="lever"></span>
                                                        Yes
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <script>

            </script> -->
            <% }) %>
            <% } else { %>
            <div class="card-panel hoverable mt-6 p-5">
                <div class="center">No Items Pending</div>
            </div>
            <% } %>

        </div>
    </div>

    <!-- Second Sections -->
    <div id="test2" class="col s12 mt-5">
        <div class="container">
            <% if (contact.length !== 0) { %>
            <% contact.forEach(element => { %>
            <% const firstLetter = element.name.charAt(0) %>
            <% const day = element.createdAt.getDate() %>
            <% const year = String(element.createdAt.getFullYear()).slice(-2) %>
            <% const month = element.createdAt.getMonth() + 1%>
            <div class="card-panel hoverable mt-6 p-5">
                <div class="right">
                    <a class="modal-trigger deleted" href="#modal1:<%= element._id %> ">&times;</a>
                    <div id="modal1:<%= element._id %>" class="modal">
                        <div class="modal-content">
                            <h4>Delete contact information</h4>
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Disagree</a>
                            <a href="/cf5480873fae9cf6c5c9/delete-contact/<%= element._id %>"
                                class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="personDesc centering">
                        <span class="imgName"><%= firstLetter %></span>
                        <span class="name"><%= element.name %></span>
                        <span class="right marginBoth email centering">
                            <a href="mailto:<%= element.email %>" class=""><%= element.email %></a>
                        </span>
                    </div>
                    <div class="personDesc mt-5">
                        <div class="phone">
                            <div class="center">
                                <span class="left"><%= day %> / <%= month  %> / <%= year %></span>
                                <span class="right"><%= element.phone %></span>
                            </div>

                        </div>
                    </div>
                    <div class="personDesc mt-5">
                        <div class="center message marginBoth">
                            <%= element.message %>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

            <% } else{%>
            <div class="card-panel hoverable mt-6 p-5">
                <div class="center">No Messages</div>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Third Section -->
    <div id="test3" class="col s12 mt-5">
        <div class="container">
            <div class="card-panel hoverable">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="container">
            <div class="card-panel hoverable">
                <canvas id="myChartUsers" width="400" height="400"></canvas>
            </div>
        </div>
    </div>


    <!-- Script -->
    <!-- <script src="/js/main.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/js/pannel.js"></script>

</body>

</html>