<%- include("../partials/breadcrumb") %>

<div class="detail">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="detail_img">
                    <img src="<%= p.img_url %>" alt="<%= p.slug %>">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="detail_heading text-center">
                    <%= p.title  %>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="detail_description">
                    <div class="detail_description_d text-center">
                        <%= p.description %>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="detail_price text-center">
                    <span class="detail_price_h">Price: <span> $<%= p.price %> </span></span>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="detail_table">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Dimensions</td>
                                <td><%= p.dimensions %> (cm)</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td><%= p.weight %>kg</td>
                            </tr>
                            <tr>
                                <td>Availability</td>
                                <% if(p.availability === "available") { %>
                                <th>In Stock</th>
                                <% } else { %>
                                <th class="text-danger">Out of Stock</th>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="detail_count">
                    <div class="detail_count_h text-center">Quantity</div>
                    <span class="detail_count_item">
                        <span class="detail_count_item_i" id="removeOne">
                            <i class="fas fa-minus fa-2x"></i>
                        </span>
                        <input type="text" class="detail_count_item_input" value="1" readonly>
                        <span class="detail_count_item_i" id="addOne">
                            <i class="fas fa-plus fa-2x"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="detail_cart">
                    <% if (p.availability === "available") { %>
                    <a href="/cart/add/<%= p._id  %>" class="detail_cart_btn">Add to Cart</a>
                    <% } else {%>
                    <a href="/" class="detail_cart_btn btn disabled">Out of Stock</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>