<%- include("../partials/breadcrumb") %>

<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product_sidebar">

                    <div class="single_sidebar">
                        <form action="">
                            <input type="text" name="search" placeholder="Search Keyword">
                            <i class="fas fa-search"></i>
                        </form>
                    </div>

                    <div class="single_sidebar">
                        <div class="select_option">
                            <div class="select_option_list">
                                Sort By <i class="right fas fa-caret-down"></i>
                            </div>
                            <div class="select_option_dropdown">
                                <p><a href="?items=date">Recently added</a></p>
                                <p><a href="?items=-date">Oldly added</a></p>
                                <p><a href="?items=price">Price Low - High</a></p>
                                <p><a href="?items=-price">Price High - Low</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product_list">
                    <div class="row">
                        <% p.forEach(element => { %>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_item">
                                <img src="<%= element.img_url %>" alt="" class="img-fluid">
                                <h3><a href="/list/<%= element.slug %>"><%= element.title %> </a></h3>
                                <p>From $<%= element.price %> </p>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>